* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Sedgwick Ave Display', cursive;
}

section {
    font-family: 'Mukta', sans-serif;
}

header {
    padding: 32px 0;
    background-color: rgb(44, 2, 83);
    color: white;
}

header nav li {
    display: inline;
    margin-left: 64px;
    font-size: 18px;
}

header nav li a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#About .container {
    align-items: flex-start;
}

section h2 {
    margin-top: 64px;
    padding: 20px;
    border-bottom: 1px solid #000000;
}

section p {
    margin-top: 50px;
}

section img {
    height: 680px;
    margin-right: 32px;
    margin-top: 64px;
}

#product .container {
    display: block;
}

.container-flex {
    display: flex;
}

.lista-produtos {
    flex-wrap: wrap;
}

.lista-produtos li {
    list-style: none;
    margin-top: 35px;
    max-width: 26%;
}

.lista-produtos li img {
    height: 200px;
    max-width: 100%;
}

.lista-produtos p {
    margin-top: 20px;
}

.lista-produtos button {
    margin-top: 20px;
    padding: 8px;
    background-color: rgb(44, 2, 83);
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 640px) {

    header {
        padding: 32px;
        background-color: rgb(44, 2, 83);
        color: white;
    }

    header nav li {
        display: inline;
        margin-left: 32px;
        font-size: 18px;
    }

    .container {
        width: 90%;
    }

    section .container {
        display:block;
        align-items: center;
    }

    section img {
        height: auto;
        width: 100%;
        margin-right: 0;
        margin-top: 32px;
    }

    section h2 {
        margin-top: 0;
        padding: 20px;
        border-bottom: 1px solid #000000;
    }

    .container-flex {
        display: block;
        width: 100%;
    }

    .lista-produtos li {
        max-width: 100%;
        text-align: center;
    }

    .lista-produtos li img {
        max-width: 90%;
    }

    .lista-produtos button {
        width: 100%;
        margin-top: 16px;
    }

}

@media screen and (max-width: 641px) and (max-width: 1023px) {

    header {
        padding: 32px;
        background-color: rgb(44, 2, 83);
        color: white;
    }

    header nav li {
        display: inline;
        margin-left: 32px;
        font-size: 18px;
    }

    .container {
        width: 90%;
    }

    section .container {
        display:block;
        align-items: center;
    }

    section img {
        height: auto;
        width: 100%;
        margin-right: 0;
        margin-top: 32px;
    }

    section h2 {
        margin-top: 0;
        padding: 20px;
        border-bottom: 1px solid #000000;
    }

    
    .lista-produtos {
        flex-wrap: wrap;
    }

    .lista-produtos li {
        max-width: 100%;
        text-align: center;
        max-width: 40%;
    }

    .lista-produtos li img {
        max-width: 90%;
    }

    .right {
        margin-left: 20%;
    }

    .lista-produtos button {
        width: 100%;
        margin-top: 16px;
    }
}